<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="WIN-LQCLPMLOLFJ"/>
    <add key="pwd" value="'Xiaoju1949'"/>
    <add key="user" value=""/>
    <add key="accid" value=""/>
    <!--当前帐套月份-->
    <add key="year" value="2014"/>
  </appSettings>
</configuration>